<div class="content">
    <div class="contact container">
        <div class="row">
            <div class="col-4">
                <div class="phone">
                    <div class="footer_img">
                        <img src="../../../assets/images/phone+device+ios+iphone+mobile+phone+phone+icon-1320085952629653848_0.svg"
                            alt="">
                    </div>
                    <div class="footer_text">
                        <h3>CALL ME</h3>
                        <p>Phone 1: 0326631480</p>
                        <p>Phone 2: 0942124828</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="address">
                    <div class="footer_img">
                        <img src="../../../assets/images/send+icon-1320165663119924846_0.svg" alt="">
                    </div>
                    <div class="footer_text">
                        <h3>ADDRESS</h3>
                        <p>Quan 9</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="work_hour">
                    <div class="footer_img">
                        <img src="../../../assets/images/date+milestones+schedule+icon-1320185951136694714_0.svg"
                            alt="">
                    </div>
                    <div class="footer_text">
                        <h3>WORK HOUR</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>