<div class="contact_footer">
    <div class="content">
        <div class="contact container">
            <div class="row">
                <div class="col-4">
                    <div class="phone fl-layout">
                        <div class="footer_img">
                            <img src="../../../assets/images/mobile+phone+multimedia+phone+smartphone+icon-1320168217591317840_64.png"
                                alt="">
                        </div>
                        <div class="footer_text">
                            <h3>CALL ME</h3>
                            <p>Phone 1: 0326631480</p>
                            <p>Phone 2: 0942124828</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="address fl-layout">
                        <div class="footer_img">
                            <img src="../../../assets/images/location-131964743694813332_64.png" alt="">
                        </div>
                        <div class="footer_text">
                            <h3>ADDRESS</h3>
                            <p>Alley 8, 61st street, Tang Nhon Phu ward, Thu Duc city</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="work_hour fl-layout">
                        <div class="footer_img">
                            <img src="../../../assets/images/clock+deadline+time+time+management+timer+icon-1320085880393367758_64.png"
                                alt="">
                        </div>
                        <div class="footer_text">
                            <h3>WORK HOUR</h3>
                            <p>Monday - Friday : 07am - 18pm</p>
                            <p>Saturday : 09am - 1pm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="social_footer">
    <div class="content container">
        <ul class="list_s">
            <li class="item_s fb">
                <a href="#">
                    <div class="icon_s"><i class="fab fa-facebook-f"></i>
                    </div> <span>Facebook</span>
                </a>
            </li>
            <li class="item_s insta">
                <a href="#">
                    <div class="icon_s"><i class="fab fa-instagram"></i></div>
                    <span>Instagram</span>
                </a>
            </li>
            <li class="item_s twitter">
                <a href="#">
                    <div class="icon_s"><i class="fab fa-twitter"></i></div>
                    <span>Twitter</span>
                </a>
            </li>
        </ul>
    </div>
</div>