.contact_footer {
  background: #f7f7f7;
  .contact {
    img {
      width: 100%;
    }
  }
  .fl-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .footer_img {
      width: 21%;
      padding: 0px 28px;
    }
    h3 {
      font-size: 20px;
      font-weight: 400;
    }
    p {
      font-size: 15px;
      margin-bottom: 0px;
    }
  }
}

.social_footer {
  .list_s {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    a {
      text-decoration: none;
    }
    i {
      font-size: 15px;
      color: white;
    }
    .icon_s {
      background: #f0f0f0;
      display: inline-flex;
      width: 40px;
      height: 40px;
      border: 1px solid #f0f0f0;
      border-radius: 50%;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      margin: 0 20px;
    }
    span{
        color: black;
    }
  }
}
