<nav class="navbar navbar-expand-lg navbar-dark" id="navbar-client">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">My Curriculum Vitae</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="#about" id="aboutMenu">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skills" id="skillMenu">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#certificate" id="certificateMenu">Certificate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#product" id="productMenu">Product</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>