.content {
  overflow: hidden;
  opacity: 0;
  .title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    .line {
      width: 20%;
      height: 1px;
    }

    h2 {
      margin: 0 10px;
      font-weight: 300;
      font-size: 30px;
      letter-spacing: 2px;
    }
  }
  .skills_list {
    min-height: 300px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1px;
      background: #ccc;
      left: 50%;
      height: 100%;
    }
    .list {
      list-style: none;
    }
    .item {
      position: relative;
      width: 100%;
      padding: 25px 0;
      .text_left {
        text-align: right;
        padding-right: 25px;
        font-style: italic;
      }
      .text_right {
        text-align: left;
        padding-left: 25px;
      }
    }
    .dot {
      width: 5px;
      height: 5px;
      position: absolute;
      background: #ccc;
      border-radius: 50%;
      left: 49.9%;
      top: 35px;
    }
  }
}
