<div class="content content_skills">
    <div class="title">
        <div class="line line_left"></div>
        <div class="title_text text ot2">
            <h2>My skills</h2>
        </div>
        <div class="line line_right"></div>
    </div>
    <!-- <div class="about_me text-center">
        <p>I have basic knowledge about:</p>
    </div> -->
    <div class="skills_list container">
        <div class="list">
            <div class="item">
                <div class="dot"></div>
                <div class="row">
                    <div class="text_left col-6">Programming Language</div>
                    <div class="text_right col-6">HTML, CSS, SASS, JavaScript, TypeScript</div>
                </div>
            </div>
            <div class="item">
                <div class="dot"></div>
                <div class="row">
                    <div class="text_left col-6">Framework Frontend</div>
                    <div class="text_right col-6">Angular</div>
                </div>
            </div>
            <div class="item">
                <div class="dot"></div>
                <div class="row">
                    <div class="text_left col-6">Backend</div>
                    <div class="text_right col-6">NodeJS</div>
                </div>
            </div>
            <div class="item">
                <div class="dot"></div>
                <div class="row">
                    <div class="text_left col-6">Framework backend</div>
                    <div class="text_right col-6">ExpressJS</div>
                </div>
            </div>
        </div>
    </div>
    <div class="getActiveSkills"></div>
</div>