.content {
  padding: 100px 0;
  overflow: hidden;
  background: #ecf1f4;
  .title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    .line {
      width: 20%;
      height: 1px;
    }

    h2 {
      margin: 0 10px;
      font-weight: 300;
      font-size: 30px;
      letter-spacing: 2px;
    }
  }
}
