@import "../../../styles/Helper/mixin";
@import "../../../styles/Helper/variables";
.content {
  overflow: hidden;
  opacity: 0;
  .title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    .line {
      width: 20%;
      height: 1px;
    }

    h2 {
      margin: 0 10px;
      font-weight: 300;
      font-size: 30px;
      letter-spacing: 2px;
    }
  }
  .skills_list {
    min-height: 300px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1px;
      background: #ccc;
      left: 50%;
      height: 100%;
    }
    .list {
      list-style: none;
    }
    .item {
      position: relative;
      width: 100%;
      padding: 25px 0;
      .text_left {
        text-align: right;
        padding-right: 25px;
        font-style: italic;
      }
      .text_right {
        text-align: left;
        padding-left: 25px;
        font-weight: 300;
      }
    }
    .dot {
      width: 5px;
      height: 5px;
      position: absolute;
      background: #ccc;
      border-radius: 50%;
      left: 49.9%;
      top: 35px;
    }
  }
  .vertical {
    &::before {
      animation: fadeIn 1s;
    }
  }
}

@include responsive("extra-large") {
  .content {
    .title {
      h2 {
        font-size: 25px;
      }
    }
    .skills_list {
      min-height: 300px;
      .item {
        font-size: 14px;
      }
    }
  }
}

@include responsive("large") {
  .content {
    .title {
      h2 {
        font-size: 25px;
      }
    }
    .skills_list {
      .dot {
        left: 49.8%;
        top: 35px;
      }
    }
  }
}

@include responsive("medium") {
  .content {
    .title {
      h2 {
        font-size: 21px;
      }
    }
    .skills_list {
      .item {
        font-size: 11px;
      }
      .dot {
        left: 49.7%;
      }
    }
  }
}

@keyframes upToDown0 {
  from {
    top: 0;
  }
  to {
    top: 35px;
  }
}

@keyframes upToDown1 {
  from {
    top: -35px;
  }
  to {
    top: 35px;
  }
}

@keyframes upToDown2 {
  from {
    top: -70px;
  }
  to {
    top: 35px;
  }
}

@keyframes upToDown3 {
  from {
    top: -105px;
  }
  to {
    top: 35px;
  }
}
