<div class="content">
    <ul class="list_s">
        <li class="item_s fb"><a href="https://www.facebook.com/profile.php?id=100009168492148" target="_blank"><i
                    class="fab fa-facebook-f"></i></a></li>
        <li class="item_s insta"><a href="https://www.instagram.com/phungminh6773/" target="_blank"><i
                    class="fab fa-instagram"></i></a></li>
        <li class="item_s twitter"><a href="https://twitter.com/Phung43115383" target="_blank"><i
                    class="fab fa-twitter"></i></a>
        </li>
    </ul>
</div>