<div class="content content_about container ">
    <div class="title">
        <div class="line line_left"></div>
        <div class="title_text">
            <h2>About me</h2>
        </div>
        <div class="line line_right"></div>
    </div>
    <div class="introduce text-center">
        I am a final year student of information technology. With the desire to find a job in front-end.
    </div>
    <div class="info">
        <div class="row">
            <div class="col-5 col-sm-6 col-md-6 img_content">
                <div class="img">
                    <img src="../../../assets/images/53928431_2178140305834898_6450575145223323648_n.jpg" alt="">
                </div>
                <div class="img_absolute">
                    <div class="img w-100" style="z-index: 18;">
                        <img src="../../../assets/images/programmer-1024x683.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-7 col-sm-6 col-md-6">
                <div class="personal_info">
                    <h3>Personal Info</h3>
                    <div class="getActive"></div>
                    <table class="table_about">
                        <tr>
                            <th scope="row">Birthdate</th>
                            <td>:</td>
                            <td colspan="1">01/04/1999</td>
                        </tr>
                        <tr>
                            <th scope="row">Phone</th>
                            <td>:</td>
                            <td>0942124828</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td>0326631480</td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>:</td>
                            <td>minhphungbmt141999@gmail.com</td>
                        </tr>
                        <tr>
                            <th scope="row">College</th>
                            <td>:</td>
                            <td>Nong Lam University</td>
                        </tr>
                        <tr>
                            <th scope="row">Address</th>
                            <td>:</td>
                            <td>8/2e Tang Nhon Phu B ward, Thu Duc city</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>