<div class="content container">
    <div class="title">
        <div class="line line_left"></div>
        <div class="title_text">
            <h2>About me</h2>
        </div>
        <div class="line line_right"></div>
    </div>
    <div class="introduce">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse officiis id facilis vero repudiandae modi ab?
        Necessitatibus laboriosam hic suscipit earum doloribus dolorem amet, eius magni modi deleniti? Laudantium,
        dolorum.
        Libero dolorum ea ad itaque ut, eum ex, dolores blanditiis aut minus delectus, amet placeat quis doloremque
        pariatur eos iure molestiae quos. Consequatur fugit nisi iusto saepe, cum in perferendis.
    </div>
    <div class="info">
        <div class="row">
            <div class="col-6 img_content">
                <div class="img">
                    <img src="../../../assets/images/53928431_2178140305834898_6450575145223323648_n.jpg" alt="">
                </div>
                <div class="img_absolute">
                    <div class="img w-100" style="z-index: 18;">
                        <img src="../../../assets/images/programmer-1024x683.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="personal_info">
                    <h3>Personal Info</h3>
                    <table>
                        <tr>
                            <th scope="row">Birthdate</th>
                            <td>:</td>
                            <td colspan="2">01/04/1999</td>
                        </tr>
                        <tr>
                            <th scope="row">Phone</th>
                            <td>:</td>
                            <td>0942124828</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td>0326631480</td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>:</td>
                            <td>minhphungbmt141999@gmail.com</td>
                        </tr>
                        <tr>
                            <th scope="row">College</th>
                            <td>:</td>
                            <td>Nong Lam University</td>
                        </tr>
                        <tr>
                            <th scope="row">Address</th>
                            <td>:</td>
                            <td>Some where on the earth</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="getActive"></div>
    </div>
</div>