<div class="content">
    <div class="background">
        <div class="triagle"></div>
        <div class="triagle-bottom"></div>
    </div>
    <div class="info container">
        <h1 class="item name">Nguyen Minh Phung</h1>
        <h3 class="item dev">Front-end Developer</h3>
    </div>
    <div class="socials_ct">
        <ul class="ct_content">
            <li class="facebook">
                <a href="https://www.facebook.com/profile.php?id=100009168492148" target="_blank">
                    <img src="../../../assets/images/fb-icon.svg" alt="">
                </a>
            </li>
            <li class="insta">
                <a href="https://www.instagram.com/phungminh6773/" target="_blank">
                    <img src="../../../assets/images/insta-icon-2.svg" alt="">
                </a>
            </li>
            <li class="twitter">
                <a href="https://twitter.com/Phung43115383" target="_blank">
                    <img src="../../../assets/images/twitter-icon-2.svg" alt="">
                </a>
            </li>
        </ul>
    </div>
    <div class="dot_content">
        <ul>
            <ng-container *ngFor="let item of numSequence(60)">
                <li class="dot_c"></li>
            </ng-container>
        </ul>
    </div>
</div>