.content {
  background: url(../../../assets/images/desk-arrangement-with-laptop-table.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 730px;
  position: relative;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #2e3d5699;
    position: absolute;
  }
  .info {
    z-index: 20;
    padding-left: 100px;
    animation: moveOut 0.9s;
    .item {
      font-weight: 200;
      letter-spacing: 4px;
      color: #fff;
    }
    .dev {
      font-size: 17px;
    }
  }
  .triagle {
    border-top: 450px solid transparent;
    border-left: 500px solid #d67456;
    border-bottom: 450px solid transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    animation: moveOut 0.9s;
  }
  .triagle-bottom {
    border-right: 250px solid transparent;
    border-bottom: 210px solid #6c3a2b;
    position: absolute;
    bottom: 0;
    animation: moveOut 0.9s;
  }
  .dot_content {
    z-index: 20;
    position: absolute;
    bottom: 0;
    width: 100%;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      align-content: flex-end;
    }
  }
  .dot_c {
    color: #fff;
  }
  .socials_ct {
    position: absolute;
    bottom: 4%;
    right: 1%;
    z-index: 20;
    animation: moveOutRight 0.9s;
    .ct_content {
      display: flex;
      list-style: none;
      li {
        width: 2.3rem;
        margin-right: 20px;
        border: 1px solid white;
        border-radius: 50%;
        padding: 5px;
        img {
          width: 100%;
        }
      }
    }
  }
}

@keyframes moveOut {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes moveOutRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

