<div class="content content_product">
    <div class="title">
        <div class="line line_left"></div>
        <div class="title_text">
            <h2>My project</h2>
        </div>
        <div class="line line_right"></div>
    </div>
    <div class="product_list">
        <div class="button previous">
            <button class="btn btn-previous"><img src="../../../assets/images/leftArrow.png" alt=""></button>
        </div>
        <div class="product_content container">
            <div class="product_item">
                <div class="row">
                    <div class="image col-6">
                        <div class="img image_border ms-auto w-75">
                            <img class="w-100" src="../../../assets/images/product1.png" alt="">
                        </div>
                    </div>
                    <div class="info_pr col-6">
                        <h3>An Online Booking Ticket Website</h3>
                        <div class="button_project">
                            <a class="btn btn-details" href="https://sayohyeah.vercel.app/home" target="_blank">See Details</a>
                            <a class="btn btn-git ms-4" href="https://github.com/chotr/PTTKHTTT.git" target="_blank">Link Github</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button next">
            <button class="btn btn-next"><img src="../../../assets/images/rightArrow.png" alt=""></button>
        </div>
    </div>
    <div class="getActiveProduct"></div>
</div>