<div class="content content_certificate">
    <div class="title">
        <div class="line line_left"></div>
        <div class="title_text">
            <h2>Certificate</h2>
        </div>
        <div class="line line_right"></div>
    </div>
    <div class="certificate_list container">
        <div class="fe_c item">
            <div class="row">
                <div class="col-6 image">
                    <div class="img image_border">
                        <img class="w-100" src="../../../assets/images/fe_cybersoft.png" alt="">
                    </div>
                </div>
                <div class="col-6 text fe_c_text">
                    <p>Has successfully completed the training program Frontend developer at Cybersoft</p>
                    <p>From 1/2021 to 5/2021</p>
                </div>
            </div>
        </div>
        <div class="be_c item">
            <div class="row">
                <div class="col-6 text be_c_text">
                    <p>Has successfully completed the training program Backend NodeJS developer at Cyberlearn</p>
                    <p>From 8/2021 to 12/2021</p>
                </div>
                <div class="col-6 image">
                    <div class="img image_border ms-auto">
                        <img class="w-100" src="../../../assets/images/be_cyberlear.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="getActiveCertificate"></div>
</div>