@import "../../../styles/Helper/mixin";
@import "../../../styles/Helper/variables";
.content {
  overflow: hidden;
  opacity: 0;
  .title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    .line {
      width: 20%;
      height: 1px;
    }

    h2 {
      margin: 0 10px;
      font-weight: 300;
      font-size: 30px;
      letter-spacing: 2px;
    }
  }
  .certificate_list {
    .img {
      width: 60%;
    }
    .text {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      p:nth-child(2) {
        color: #afadad;
      }
    }
    .fe_c {
      background: 0 0;
    }
    .be_c {
      background: 0 0;
    }
  }
}
@include responsive("extra-large") {
  .content {
    .title {

      h2 {
        font-size: 25px;
      }
    }
    .certificate_list {
      .img {
        width: 60%;
      }
      .text {
        font-size: 14px;
      }
    }
  }
}

@include responsive("medium") {
  .content {
    .title {
      h2 {
        font-size: 21px;
      }
    }
    .certificate_list {
      .text {
        font-size: 11px;
      }
      .fe_c {
        padding-bottom:10px;
      }
    }
  }
}

@include responsive("small") {
  .content {
    .certificate_list {
      .img {
        width: 100%;
      }
    }
  }
}
